<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="asciidoc_path" value="../../../../thirdparty/asciidoc/asciidoc.exe"/>
    <add key="pandoc_path" value="../../../../thirdparty/pandoc.exe"/>
    <add key="asciidoc_backend" value="html5"/>
    <add key="pandoc_input_format" value="html"/>
    <add key="pandoc_extra_arguments" value="-s"/>
  </appSettings>
</configuration>